<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- {{ page.title }} -  -->
  <title>{{site.title}}</title>
  <!--<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">-->
  <link rel="stylesheet" href="{{site.baseurl}}css/common.css">
  <link rel="stylesheet" href="{{site.baseurl}}css/index.css">
  <!--   Syntax highlighting is only needed for posts-->
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="{{site.baseurl}}css/syntax-highlighter.css">
  {% endif %}
  <link href="//fonts.googleapis.com/css?family=Space+Mono|Work+Sans:700" rel="stylesheet">
  {% if page.permalink == '/about/' %}
  <style>
    .wrap_thumb{ display: none;}
  </style>
  {% endif %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
{% include header.html %}
{% include side_nav.html %}
<div class="container">

<ul class="wrap_list">
	{{content}}
</ul>


  {% if page.layout == 'post' %}
    {% include disqus.html %}
  {% endif %}
  <script id="dsq-count-scr" src="//sindevdoggy-disqus-com.disqus.com/count.js" async></script>
</div>
  <!-- Calling Fontawesome at the end to avoid delay in loading -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% include analytics.html %}

<div class="btn_top">
  <a href="#">
    <span class="screen_out">맨위로</span>
    <span><i class="fa fa-arrow-up" aria-hidden="true"></i>top</span>
  </a>
</div>
<script src="/js/parrellex_scroll.js"></script>
</body>
</html>
