<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- {{ page.title }} -  -->
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <!--   Syntax highlighting is only needed for posts -->
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax-highlighter.css">
  {% endif %}
  <link href="//fonts.googleapis.com/css?family=Space+Mono|Work+Sans:700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style media="screen">
    .links .on:hover{
      cursor:pointer;
    }
    .hideUl{
      display: none;

    }
    .hideUl li {
      font-size: 1.5em;
    }

  </style>
</head>
<body>

<input type="checkbox" id="hamburger" name="hamburger">
<label id="label-ham" for="hamburger"></label>
<div class="menu-container" style="display:block;">
  <div class="menu"></div>
  <!-- <p>{{site.categoies[0]}}</p> -->
  <!--  site의 전역변수화-->
  <div class="links">
      <a href="{{site.baseurl}}/"><i class="fa fa-home"></i>&nbsp;Home</a>
      <a href="{{site.baseurl}}/about/"><i class="fa fa-user"></i>&nbsp;About</a>
      <a class="on" href="{{site.baseurl}}/archive/"><i class="fa fa-file-zip-o"></i>&nbsp;Archive</a>
        <ul class='hideUl'>
          <li><a class="on" href="{{site.baseurl}}/{{site.categoies[0]}}/"><i class="fa fa-file-zip-o"></i>&nbsp;{{site.categoies[0]}}</a></li>
          <li><a class="on" href="{{site.baseurl}}/{{site.categoies[1]}}/"><i class="fa fa-file-zip-o"></i>&nbsp;{{site.categoies[1]}}</a></li>
          <li><a class="on" href="{{site.baseurl}}/{{site.categoies[2]}}/"><i class="fa fa-file-zip-o"></i>&nbsp;{{site.categoies[2]}}</a></li>
          <li><a class="on" href="{{site.baseurl}}/{{site.categoies[3]}}/"><i class="fa fa-file-zip-o"></i>&nbsp;{{site.categoies[3]}}</a></li>
          <li><a class="on" href="{{site.baseurl}}/{{site.categoies[4]}}/"><i class="fa fa-file-zip-o"></i>&nbsp;{{site.categoies[4]}}</a></li>
        </ul>
      <!--  -->
      <!-- <a href="{{site.baseurl}}/contact/"><i class="fa fa-address-book-o"></i>&nbsp;Contact</a> -->
      <a href="https://github.com/SinYongJu/SinYongJu.github.io"><i class="fa fa-code-fork"></i>&nbsp;Project</a>
  </div>
</div>

<div class="content">
<header>
     <a href="{{site.baseurl}}/"><h1 class="site-title">{{site.title}}</h1></a>
</header>
  {{ content }}
  {% if page.layout == 'post' %}
    {% include disqus.html %}
  {% endif %}
  <script id="dsq-count-scr" src="//sindevdoggy-disqus-com.disqus.com/count.js" async></script>
</div>
  <!-- Calling Fontawesome at the end to avoid delay in loading -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% include analytics.html %}

<script type="text/javascript">
  (function(){
    console.log('호우')
    console.log($('.links'))
    // $('.on').on('mouseenter',function(e){
    //     console.log('this','요기!')
    //     $('.hideUl').css('display','block');
    //     e.preventDefault()
    //
    //
    // })
    //
    // $('.on').on('mouseleave',function(e){
    //     console.log('this','요기!')
    //     $('.hideUl').css('display','none');
    //     e.preventDefault()
    //
    //
    // })
  })()
</script>


</body>
</html>
