---
layout: default
comment: true
---


<div class="post_title">
    <div class="wrap_thumb">
        {% if page.category[1] == 'html'%}
        <div class={{page.category[1]}}_ico></div>
        {%else if page.category[0]%}
        <div class={{page.category[0]}}_ico></div>
        {%else%}
        <div class='programing_ico'></div>
        {% endif %}
    </div>
    <div class="tit_post" style="color:#620d1b;">
        <strong>{{page.title}}</strong>
        <!-- <span>{{page.url}}</span> -->
        <p>
            <time datetime="">
                   {{ page.date | date: '%B %d, %Y' }}
            </time>
        </p>
        <span>
          {{page.category | truncate: 90}}
        </span>

    </div>
</div>

<div class="container_post">
    {{content}}

</div>




<script>
    (function(){

    })();
</script>