---
layout: default
comment: true
---


<div class="post-title">
    {% if page.icon %}
    <div class="logo" style="color:#620d1b;">

            <i class="fa fa-{{page.icon}}"></i>

    </div>
    {% endif %}
    <div class="title" style="color:#620d1b;">
        <h2>{{page.title}}</h2>
        <span>{{page.url}}</span>
        <span>
            <time datetime="">
                   {{ page.date | date: '%B %d, %Y' }}
            </time>
        </span>
        <span>
          {{page.categoies}}
        </span>

    </div>
</div>


{{content}}
